p.top{
    background-color: yellow;
    border: black 1px solid;
    position: relative;
    top: 10px;
}
p.bottom{
    background-color: red;
    border: black 1px solid;
    position: relative;
    bottom: -500px;
}
p.left{
    background-color: green;
    border: black 1px solid;
    position: relative; 
    left: 450px;
}
p.right{
    background-color: green;
    border: black 1px solid;
    position: relative; 
    right: -700px;
}